.DS_Store
.AppleDouble
.LSOverride
._*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.manifest
*.spec
pip-log.txt
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.python-version
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
/.idea/*